trunk/src/emerge-backend/emerge-bss/trunk/src/wsdl/demotelopsp.noshape.com/Services/ServiceBSS.svc.xsd_xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/"><xs:complexType name="RequestAddCredit"><xs:sequence><xs:element minOccurs="0" name="AddCreditAgentID" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="AddCreditPassword" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="AddCreditUsername" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="AddCreditValue" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="RequestAddCredit" nillable="true" type="tns:RequestAddCredit"/><xs:complexType name="ResponseAddCredit"><xs:sequence><xs:element minOccurs="0" name="AddCreditCurrentValue" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="AddCreditDescription" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="AddCreditPreviousValue" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="AddCreditReturnCode" type="xs:int"/></xs:sequence></xs:complexType><xs:element name="ResponseAddCredit" nillable="true" type="tns:ResponseAddCredit"/></xs:schema>